nav a {
    margin-right:60px;
    font-size: 30px;
    word-spacing:100px;
    color: rgb(170, 82, 19);
  }
*{
  background-color:rgb(219, 221, 195);
  
}
body{ 
            border-width: 10px;
        
        }
nav{

  text-align:center;

}

footer h6 {
    color: white;
    /* margin: 0; */
    background-color: rgb(144, 140, 140);
    font-size: 20px;
    word-spacing: 20px;
    white-space: nowrap; /* prevents text from breaking into multiple lines */

    position: absolute;
    animation: scrollText 60s linear infinite; /* run forever */
}

/* Animation keyframes for scrolling */
@keyframes scrollText {
    from {
        left: 100%;   /* start from outside right */
    }
    to {
        left: -100%;  /* move all the way to left */
    }
}

